@model IEnumerable<WebApplication4.Models.Product>

@{
    ViewBag.Title = "ProductsTable";
}

<h2>ProductsTable</h2>

<p>
    @Html.ActionLink("Add New", "AddProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTaxable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxAmout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ProductCategory.ProductCategoryName)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </td>        
        @{ 
            var base64 = Convert.ToBase64String(item.ProductImage);
            var imgsrc = String.Format("data:image/jpg;base64,{0}", base64);
        }           
        <td>
            <img src="@imgsrc" style="max-height: 50%; max-width: 50%" />
        </td>
        @{
            if (item.IsTaxable == true)
            {
                <td>
                    Yes
                </td>
            }
            else
            {
                <td>
                    No
                </td>
            }
         }


        <td>
            @Html.DisplayFor(modelItem => item.TaxAmout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ProductCategory.ProductCategoryName)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "EditProduct", new { id=item.ProductID }) | 
            @Html.ActionLink("Details", "ProductDescription", new { id = item.ProductID }) | 
            @Html.ActionLink("Delete", "DeleteProduct", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
